name: Run tests
on:
  push:
    branches: [ main, beta ]
  workflow_dispatch:
  pull_request:
    branches: [ main, beta ]
    types: [ opened, reopened, synchronize ]

permissions:
  contents: read # for checkout

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'pip' # caching pip dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run local-setup
        run: |
          git clone https://github.com/matter-labs/local-setup.git
          pushd local-setup
          ./start-zk-chains.sh
          popd
      - name: Prepare environment
        run: make prepare-environment
      - name: Run tests
        run: make run-tests
